.frame-icon,
.frame-icon1 {
  position: absolute;
  top: -100px;
  left: -87px;
  width: 719px;
  height: 1224px;
  overflow: hidden;
  object-fit: cover;
}
.frame-icon1 {
  top: 45px;
  left: 948px;
  width: 506px;
  height: 934px;
}
.travelplan3 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.travelplan2 {
  background: linear-gradient(180deg, rgba(224, 185, 254, 0) 45.94%, #6e409c);
  width: 172px;
  height: 49px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.about1,
.contacts1,
.github1,
.home1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-base);
  font-family: var(--font-open-sans);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
}
.about1,
.contacts1,
.github1 {
  left: 77px;
}
.about1,
.github1 {
  left: 291px;
}
.about1 {
  left: 205px;
}
.frame2 {
  flex: 1;
  position: relative;
  height: 22px;
  overflow: hidden;
}
.navbar1 {
  margin: 0;
  position: absolute;
  top: 17px;
  left: 58px;
  width: 621px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-39xl);
  mix-blend-mode: normal;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-black);
  font-family: var(--font-dm-serif-display);
}
.blank-line2,
.please-check-your-youtube-link {
  display: block;
}
.blank-line2 {
  color: var(--system-backgrounds-sb-l-primary);
}
.please-check-your-container {
  margin: 0;
  position: absolute;
  top: 487px;
  left: 467px;
  display: inline-block;
  width: 482px;
  height: 41px;
}
.oops-there-is {
  margin: 0;
  position: absolute;
  top: 356px;
  left: 240px;
  font-size: var(--font-size-17xl);
  font-weight: 400;
  font-family: inherit;
}
.an1,
.image-91 {
  position: absolute;
  top: 14px;
  left: 91px;
}
.image-91 {
  text-decoration: none;
  top: 0;
  left: 126px;
  width: 50px;
  height: 50px;
  background-image: url(./public/image-9@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  cursor: pointer;
}
.ucsd-project3 {
  margin-block-start: 0;
  margin-block-end: 15px;
}
.ucsd-project2 {
  text-decoration: none;
  position: absolute;
  top: 14px;
  left: 191px;
  color: inherit;
  display: inline-block;
  width: 117px;
  height: 22px;
  cursor: pointer;
}
.powered-by1 {
  position: absolute;
  top: 55px;
  left: 42px;
}
.flask1 {
  text-decoration: none;
  left: 139px;
  color: inherit;
  cursor: pointer;
}
.and1,
.chatgpt1,
.flask1,
.spacy1 {
  position: absolute;
  top: 55px;
}
.spacy1 {
  text-decoration: none;
  left: 191px;
  color: inherit;
  cursor: pointer;
}
.and1,
.chatgpt1 {
  left: 237px;
}
.chatgpt1 {
  text-decoration: none;
  left: 284px;
  color: inherit;
  cursor: pointer;
}
.bottom1,
.try-again1 {
  font-size: var(--font-size-base);
  font-family: var(--font-open-sans);
  text-align: center;
}
.bottom1 {
  position: absolute;
  bottom: 0;
  left: calc(50% - 214px);
  width: 427px;
  height: 88px;
  overflow: hidden;
}
.try-again1 {
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-family: var(--font-open-sans);
  color: var(--color-black);
  text-align: center;
}
.try-again {
  cursor: pointer;
  border: 1px solid var(--color-black);
  padding: 17px 108px;
  background-color: transparent;
  border-radius: var(--br-10xs);
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.frame3 {
  position: absolute;
  top: 610px;
  right: 598px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.error {
  position: relative;
  background: radial-gradient(50% 50%at 50% 50%, #cbb5dc, #572f89);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-dm-serif-display);
}
@media screen and (max-width: 1200px) {
  .error {
    width: 1200px;
  }
}
@media screen and (max-width: 960px) {
  .error {
    width: 960px;
  }
}
