table {
    width: 100%;
    border-collapse: collapse;
    border: 3px solid purple;
}

th, td {
    padding: 20px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
