<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_232472ef3e8dc24ed979e3d08b0feb5c {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_232472ef3e8dc24ed979e3d08b0feb5c" ></div>
        
</body>
<script>
    
    
            var map_232472ef3e8dc24ed979e3d08b0feb5c = L.map(
                "map_232472ef3e8dc24ed979e3d08b0feb5c",
                {
                    center: [51.874205225000004, -0.1999732148254675],
                    crs: L.CRS.EPSG3857,
                    zoom: 4,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_6b5c049c38c769fa7e3738b2831dfee5 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
                tile_layer_6b5c049c38c769fa7e3738b2831dfee5.addTo(map_232472ef3e8dc24ed979e3d08b0feb5c);
    
            var marker_a10ed5c962bbd01d0811cb3ee44d894f = L.marker(
                [51.5074456, -0.1277653],
                {}
            ).addTo(map_232472ef3e8dc24ed979e3d08b0feb5c);
        
    
        var popup_a8a756e8ae00f31d05493778087c5ac4 = L.popup({"maxWidth": "100%"});

        
            
                var html_7adf0dbf4ac06e62e7cdfa40e8266221 = $(`<div id="html_7adf0dbf4ac06e62e7cdfa40e8266221" style="width: 100.0%; height: 100.0%;">London</div>`)[0];
                popup_a8a756e8ae00f31d05493778087c5ac4.setContent(html_7adf0dbf4ac06e62e7cdfa40e8266221);
            
        

        marker_a10ed5c962bbd01d0811cb3ee44d894f.bindPopup(popup_a8a756e8ae00f31d05493778087c5ac4)
        ;

        
    
    
            var marker_2a1beb8cae32b3cba656d930e5198ffe = L.marker(
                [51.5007042, -0.1245721],
                {}
            ).addTo(map_232472ef3e8dc24ed979e3d08b0feb5c);
        
    
        var popup_7a03627158816c8604de3f3eecf710db = L.popup({"maxWidth": "100%"});

        
            
                var html_75e588e3880d449af6269861a3858932 = $(`<div id="html_75e588e3880d449af6269861a3858932" style="width: 100.0%; height: 100.0%;">Big Ben</div>`)[0];
                popup_7a03627158816c8604de3f3eecf710db.setContent(html_75e588e3880d449af6269861a3858932);
            
        

        marker_2a1beb8cae32b3cba656d930e5198ffe.bindPopup(popup_7a03627158816c8604de3f3eecf710db)
        ;

        
    
    
            var marker_90d87c03c5efb9c4573578c37a625813 = L.marker(
                [51.5074889, -0.16223668308067218],
                {}
            ).addTo(map_232472ef3e8dc24ed979e3d08b0feb5c);
        
    
        var popup_982ca194773abad40f3a763ea7433326 = L.popup({"maxWidth": "100%"});

        
            
                var html_8529788cb690c974e5b14b6b63864340 = $(`<div id="html_8529788cb690c974e5b14b6b63864340" style="width: 100.0%; height: 100.0%;">Hyde Park</div>`)[0];
                popup_982ca194773abad40f3a763ea7433326.setContent(html_8529788cb690c974e5b14b6b63864340);
            
        

        marker_90d87c03c5efb9c4573578c37a625813.bindPopup(popup_982ca194773abad40f3a763ea7433326)
        ;

        
    
    
            var marker_19d88d3cbd7465a6ec250457877cab05 = L.marker(
                [51.5322503, -0.1776334],
                {}
            ).addTo(map_232472ef3e8dc24ed979e3d08b0feb5c);
        
    
        var popup_6a15ca21f362c006f54ac3645e9358ec = L.popup({"maxWidth": "100%"});

        
            
                var html_b2732954a5bac275560bb5c1465e7d95 = $(`<div id="html_b2732954a5bac275560bb5c1465e7d95" style="width: 100.0%; height: 100.0%;">Beatles, Abbey Road</div>`)[0];
                popup_6a15ca21f362c006f54ac3645e9358ec.setContent(html_b2732954a5bac275560bb5c1465e7d95);
            
        

        marker_19d88d3cbd7465a6ec250457877cab05.bindPopup(popup_6a15ca21f362c006f54ac3645e9358ec)
        ;

        
    
    
            var marker_2e54c62e75827cd8911c5d2cffcb4567 = L.marker(
                [55.9496995, -3.2134694],
                {}
            ).addTo(map_232472ef3e8dc24ed979e3d08b0feb5c);
        
    
        var popup_1ef18774a1be5cffebce8b942e20c247 = L.popup({"maxWidth": "100%"});

        
            
                var html_7b1df6e328f6dd27ac9d7c9ab331cb7d = $(`<div id="html_7b1df6e328f6dd27ac9d7c9ab331cb7d" style="width: 100.0%; height: 100.0%;">West End</div>`)[0];
                popup_1ef18774a1be5cffebce8b942e20c247.setContent(html_7b1df6e328f6dd27ac9d7c9ab331cb7d);
            
        

        marker_2e54c62e75827cd8911c5d2cffcb4567.bindPopup(popup_1ef18774a1be5cffebce8b942e20c247)
        ;

        
    
    
            var marker_89dff06265e652e9f0b99eb1c4334656 = L.marker(
                [51.46862565, 0.04883057313755089],
                {}
            ).addTo(map_232472ef3e8dc24ed979e3d08b0feb5c);
        
    
        var popup_97bd856179c8eba83ded04abbf31ad9f = L.popup({"maxWidth": "100%"});

        
            
                var html_370901c47f601d71fe9cfa139a7d3129 = $(`<div id="html_370901c47f601d71fe9cfa139a7d3129" style="width: 100.0%; height: 100.0%;">Greenwich</div>`)[0];
                popup_97bd856179c8eba83ded04abbf31ad9f.setContent(html_370901c47f601d71fe9cfa139a7d3129);
            
        

        marker_89dff06265e652e9f0b99eb1c4334656.bindPopup(popup_97bd856179c8eba83ded04abbf31ad9f)
        ;

        
    
    
            var marker_aa1e7f5b0d41806508c920726563d616 = L.marker(
                [51.4989948, -0.1991229],
                {}
            ).addTo(map_232472ef3e8dc24ed979e3d08b0feb5c);
        
    
        var popup_e2950b144e546d53d9171bff72a48f53 = L.popup({"maxWidth": "100%"});

        
            
                var html_ba7811edb3ad158354ee001482142ac2 = $(`<div id="html_ba7811edb3ad158354ee001482142ac2" style="width: 100.0%; height: 100.0%;">Kensington</div>`)[0];
                popup_e2950b144e546d53d9171bff72a48f53.setContent(html_ba7811edb3ad158354ee001482142ac2);
            
        

        marker_aa1e7f5b0d41806508c920726563d616.bindPopup(popup_e2950b144e546d53d9171bff72a48f53)
        ;

        
    
    
            var marker_8420960ed4107ef867f57c32da7b196c = L.marker(
                [51.4568044, -0.1167959],
                {}
            ).addTo(map_232472ef3e8dc24ed979e3d08b0feb5c);
        
    
        var popup_4118159a8c9df183bbc591a32f89338c = L.popup({"maxWidth": "100%"});

        
            
                var html_adc689ae35aa86e17009db3276b86969 = $(`<div id="html_adc689ae35aa86e17009db3276b86969" style="width: 100.0%; height: 100.0%;">Brixton</div>`)[0];
                popup_4118159a8c9df183bbc591a32f89338c.setContent(html_adc689ae35aa86e17009db3276b86969);
            
        

        marker_8420960ed4107ef867f57c32da7b196c.bindPopup(popup_4118159a8c9df183bbc591a32f89338c)
        ;

        
    
    
            var marker_f2585af392d438a3a331c37e6a19baab = L.marker(
                [51.5307156, -0.4800361493026331],
                {}
            ).addTo(map_232472ef3e8dc24ed979e3d08b0feb5c);
        
    
        var popup_8375c2da4d0f043e6cf8dafc603ea288 = L.popup({"maxWidth": "100%"});

        
            
                var html_7b1e8434cf134fc8ae110e421b35dea6 = $(`<div id="html_7b1e8434cf134fc8ae110e421b35dea6" style="width: 100.0%; height: 100.0%;">South London</div>`)[0];
                popup_8375c2da4d0f043e6cf8dafc603ea288.setContent(html_7b1e8434cf134fc8ae110e421b35dea6);
            
        

        marker_f2585af392d438a3a331c37e6a19baab.bindPopup(popup_8375c2da4d0f043e6cf8dafc603ea288)
        ;

        
    
    
            var marker_a17de06de48c520a765541fc210b73ac = L.marker(
                [51.1251275, 1.3134228],
                {}
            ).addTo(map_232472ef3e8dc24ed979e3d08b0feb5c);
        
    
        var popup_e8ceab4c298b1c067d776d681328d221 = L.popup({"maxWidth": "100%"});

        
            
                var html_07ff1a56cada012a60bf7bf19f0d976d = $(`<div id="html_07ff1a56cada012a60bf7bf19f0d976d" style="width: 100.0%; height: 100.0%;">Dover</div>`)[0];
                popup_e8ceab4c298b1c067d776d681328d221.setContent(html_07ff1a56cada012a60bf7bf19f0d976d);
            
        

        marker_a17de06de48c520a765541fc210b73ac.bindPopup(popup_e8ceab4c298b1c067d776d681328d221)
        ;

        
    
    
            var marker_e0ed8d6ae499f89fb01d7aae3758e88e = L.marker(
                [51.20707485, 0.7210361813401444],
                {}
            ).addTo(map_232472ef3e8dc24ed979e3d08b0feb5c);
        
    
        var popup_dd7daa8b83f491fab9aebf8c55967964 = L.popup({"maxWidth": "100%"});

        
            
                var html_71923251e1c5e6528ccb73445073009b = $(`<div id="html_71923251e1c5e6528ccb73445073009b" style="width: 100.0%; height: 100.0%;">Kent</div>`)[0];
                popup_dd7daa8b83f491fab9aebf8c55967964.setContent(html_71923251e1c5e6528ccb73445073009b);
            
        

        marker_e0ed8d6ae499f89fb01d7aae3758e88e.bindPopup(popup_dd7daa8b83f491fab9aebf8c55967964)
        ;

        
    
    
            var marker_630e8ea600c75bd545cb2cd45af9d121 = L.marker(
                [52.2055314, 0.1186637],
                {}
            ).addTo(map_232472ef3e8dc24ed979e3d08b0feb5c);
        
    
        var popup_886b2be4749c757fe06de18fcedd8cb3 = L.popup({"maxWidth": "100%"});

        
            
                var html_1619c246d7d9480f163204772d5696ac = $(`<div id="html_1619c246d7d9480f163204772d5696ac" style="width: 100.0%; height: 100.0%;">Cambridge</div>`)[0];
                popup_886b2be4749c757fe06de18fcedd8cb3.setContent(html_1619c246d7d9480f163204772d5696ac);
            
        

        marker_630e8ea600c75bd545cb2cd45af9d121.bindPopup(popup_886b2be4749c757fe06de18fcedd8cb3)
        ;

        
    
</script>
</html>