<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_a3d72b8a6dea01698087ba0cbdb189fc {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_a3d72b8a6dea01698087ba0cbdb189fc" ></div>
        
</body>
<script>
    
    
            var map_a3d72b8a6dea01698087ba0cbdb189fc = L.map(
                "map_a3d72b8a6dea01698087ba0cbdb189fc",
                {
                    center: [42.81051422666667, 2.2011121315736903],
                    crs: L.CRS.EPSG3857,
                    zoom: 4,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_da78b82455f765d9d094f7248235b123 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_a3d72b8a6dea01698087ba0cbdb189fc);
        
    
            var marker_360ed1d0eba5f7bda21e00b372b4ac20 = L.marker(
                [48.813549, 3.6664318],
                {}
            ).addTo(map_a3d72b8a6dea01698087ba0cbdb189fc);
        
    
        var popup_8b04e008dc237ce4ad53a1e39fd60089 = L.popup({"maxWidth": "100%", "minHeight": 100, "minWidth": 500});

        
            
                var i_frame_8f1f3213f10425784dece4edb1acef55 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICA8dGFibGUgYm9yZGVyPSIxIiBjbGFzcz0iZGF0YWZyYW1lIj4KICA8dGhlYWQ+CiAgICA8dHIgc3R5bGU9InRleHQtYWxpZ246IHJpZ2h0OyI+CiAgICAgIDx0aD4wPC90aD4KICAgICAgPHRoPjE8L3RoPgogICAgPC90cj4KICA8L3RoZWFkPgogIDx0Ym9keT4KICAgIDx0cj4KICAgICAgPHRkPkNoYXJsZXZpbGxlPC90ZD4KICAgICAgPHRkPldhbnQgdG8gYm9vayBhIGhvdGVsIGF0IENoYXJsZXZpbGxlPyA8YSBocmVmPSJodHRwczovL3d3dy5ib29raW5nLmNvbS9zZWFyY2hyZXN1bHRzLmVuLXVzLmh0bWw/c3M9Q2hhcmxldmlsbGUiIHRhcmdldD0iX2JsYW5rIj5HbyB0byBCb29raW5nLmNvbSBmb3IgYSByb29tISA8L2E+PC90ZD4KICAgIDwvdHI+CiAgPC90Ym9keT4KPC90YWJsZT4=" width="400" style="border:none !important;" height="120"></iframe>`)[0];
                popup_8b04e008dc237ce4ad53a1e39fd60089.setContent(i_frame_8f1f3213f10425784dece4edb1acef55);
            
        

        marker_360ed1d0eba5f7bda21e00b372b4ac20.bindPopup(popup_8b04e008dc237ce4ad53a1e39fd60089)
        ;

        
    
    
            var marker_f547902dc679833cf30e7f8a5aa2583c = L.marker(
                [46.603354, 1.8883335],
                {}
            ).addTo(map_a3d72b8a6dea01698087ba0cbdb189fc);
        
    
        var popup_a7a58e3442c1d67541ce10e2c4b4dbfc = L.popup({"maxWidth": "100%", "minHeight": 100, "minWidth": 500});

        
            
                var i_frame_bb0e41d49889056dfd6c3f780872d4dc = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICA8dGFibGUgYm9yZGVyPSIxIiBjbGFzcz0iZGF0YWZyYW1lIj4KICA8dGhlYWQ+CiAgICA8dHIgc3R5bGU9InRleHQtYWxpZ246IHJpZ2h0OyI+CiAgICAgIDx0aD4wPC90aD4KICAgICAgPHRoPjE8L3RoPgogICAgPC90cj4KICA8L3RoZWFkPgogIDx0Ym9keT4KICAgIDx0cj4KICAgICAgPHRkPldhbnQgdG8gYm9vayBhIGhvdGVsIGF0IEZyYW5jZT8gPGEgaHJlZj0iaHR0cHM6Ly93d3cuYm9va2luZy5jb20vc2VhcmNocmVzdWx0cy5lbi11cy5odG1sP3NzPUZyYW5jZSIgdGFyZ2V0PSJfYmxhbmsiPkdvIHRvIEJvb2tpbmcuY29tIGZvciBhIHJvb20hIDwvYT48L3RkPgogICAgICA8dGQ+RnJhbmNlPC90ZD4KICAgIDwvdHI+CiAgPC90Ym9keT4KPC90YWJsZT4=" width="400" style="border:none !important;" height="120"></iframe>`)[0];
                popup_a7a58e3442c1d67541ce10e2c4b4dbfc.setContent(i_frame_bb0e41d49889056dfd6c3f780872d4dc);
            
        

        marker_f547902dc679833cf30e7f8a5aa2583c.bindPopup(popup_a7a58e3442c1d67541ce10e2c4b4dbfc)
        ;

        
    
    
            var marker_eca55f25ba6541af4f923bc9a4339e40 = L.marker(
                [46.7985624, 8.2319736],
                {}
            ).addTo(map_a3d72b8a6dea01698087ba0cbdb189fc);
        
    
        var popup_e6f4702fee1ff45584ae7f3286db5cd8 = L.popup({"maxWidth": "100%", "minHeight": 100, "minWidth": 500});

        
            
                var i_frame_b9b8f604d4a14b4db9ea53fe88d4fdda = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICA8dGFibGUgYm9yZGVyPSIxIiBjbGFzcz0iZGF0YWZyYW1lIj4KICA8dGhlYWQ+CiAgICA8dHIgc3R5bGU9InRleHQtYWxpZ246IHJpZ2h0OyI+CiAgICAgIDx0aD4wPC90aD4KICAgICAgPHRoPjE8L3RoPgogICAgPC90cj4KICA8L3RoZWFkPgogIDx0Ym9keT4KICAgIDx0cj4KICAgICAgPHRkPlN3aXR6ZXJsYW5kPC90ZD4KICAgICAgPHRkPldhbnQgdG8gYm9vayBhIGhvdGVsIGF0IFN3aXR6ZXJsYW5kPyA8YSBocmVmPSJodHRwczovL3d3dy5ib29raW5nLmNvbS9zZWFyY2hyZXN1bHRzLmVuLXVzLmh0bWw/c3M9U3dpdHplcmxhbmQiIHRhcmdldD0iX2JsYW5rIj5HbyB0byBCb29raW5nLmNvbSBmb3IgYSByb29tISA8L2E+PC90ZD4KICAgIDwvdHI+CiAgPC90Ym9keT4KPC90YWJsZT4=" width="400" style="border:none !important;" height="120"></iframe>`)[0];
                popup_e6f4702fee1ff45584ae7f3286db5cd8.setContent(i_frame_b9b8f604d4a14b4db9ea53fe88d4fdda);
            
        

        marker_eca55f25ba6541af4f923bc9a4339e40.bindPopup(popup_e6f4702fee1ff45584ae7f3286db5cd8)
        ;

        
    
    
            var marker_3dc6ba9d6baddb2985769f2237a7fddf = L.marker(
                [46.0212076, 7.749254],
                {}
            ).addTo(map_a3d72b8a6dea01698087ba0cbdb189fc);
        
    
        var popup_d3d96f3ccc3928bf7b7e3fbcd82599f6 = L.popup({"maxWidth": "100%", "minHeight": 100, "minWidth": 500});

        
            
                var i_frame_60d949ea5758e49d210e58f6df6ce930 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICA8dGFibGUgYm9yZGVyPSIxIiBjbGFzcz0iZGF0YWZyYW1lIj4KICA8dGhlYWQ+CiAgICA8dHIgc3R5bGU9InRleHQtYWxpZ246IHJpZ2h0OyI+CiAgICAgIDx0aD4wPC90aD4KICAgICAgPHRoPjE8L3RoPgogICAgPC90cj4KICA8L3RoZWFkPgogIDx0Ym9keT4KICAgIDx0cj4KICAgICAgPHRkPlplcm1hdHQ8L3RkPgogICAgICA8dGQ+V2FudCB0byBib29rIGEgaG90ZWwgYXQgWmVybWF0dD8gPGEgaHJlZj0iaHR0cHM6Ly93d3cuYm9va2luZy5jb20vc2VhcmNocmVzdWx0cy5lbi11cy5odG1sP3NzPVplcm1hdHQiIHRhcmdldD0iX2JsYW5rIj5HbyB0byBCb29raW5nLmNvbSBmb3IgYSByb29tISA8L2E+PC90ZD4KICAgIDwvdHI+CiAgPC90Ym9keT4KPC90YWJsZT4=" width="400" style="border:none !important;" height="120"></iframe>`)[0];
                popup_d3d96f3ccc3928bf7b7e3fbcd82599f6.setContent(i_frame_60d949ea5758e49d210e58f6df6ce930);
            
        

        marker_3dc6ba9d6baddb2985769f2237a7fddf.bindPopup(popup_d3d96f3ccc3928bf7b7e3fbcd82599f6)
        ;

        
    
    
            var marker_2f752305b1793c7242dad1521f3ea70d = L.marker(
                [53.5902946, 6.6682175],
                {}
            ).addTo(map_a3d72b8a6dea01698087ba0cbdb189fc);
        
    
        var popup_762acd5ef9a7fe767f45ec008c41e5ad = L.popup({"maxWidth": "100%", "minHeight": 100, "minWidth": 500});

        
            
                var i_frame_653acc944b982c94c927d8f21ca23761 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICA8dGFibGUgYm9yZGVyPSIxIiBjbGFzcz0iZGF0YWZyYW1lIj4KICA8dGhlYWQ+CiAgICA8dHIgc3R5bGU9InRleHQtYWxpZ246IHJpZ2h0OyI+CiAgICAgIDx0aD4wPC90aD4KICAgICAgPHRoPjE8L3RoPgogICAgPC90cj4KICA8L3RoZWFkPgogIDx0Ym9keT4KICAgIDx0cj4KICAgICAgPHRkPldhbnQgdG8gYm9vayBhIGhvdGVsIGF0IEJvcmt1bT8gPGEgaHJlZj0iaHR0cHM6Ly93d3cuYm9va2luZy5jb20vc2VhcmNocmVzdWx0cy5lbi11cy5odG1sP3NzPUJvcmt1bSIgdGFyZ2V0PSJfYmxhbmsiPkdvIHRvIEJvb2tpbmcuY29tIGZvciBhIHJvb20hIDwvYT48L3RkPgogICAgICA8dGQ+Qm9ya3VtPC90ZD4KICAgIDwvdHI+CiAgPC90Ym9keT4KPC90YWJsZT4=" width="400" style="border:none !important;" height="120"></iframe>`)[0];
                popup_762acd5ef9a7fe767f45ec008c41e5ad.setContent(i_frame_653acc944b982c94c927d8f21ca23761);
            
        

        marker_2f752305b1793c7242dad1521f3ea70d.bindPopup(popup_762acd5ef9a7fe767f45ec008c41e5ad)
        ;

        
    
    
            var marker_1cffdd1f4eae559de12dd6bb675c1307 = L.marker(
                [40.4203479, -79.1166983],
                {}
            ).addTo(map_a3d72b8a6dea01698087ba0cbdb189fc);
        
    
        var popup_7eaf3423641e854d9c4bdd781094e57a = L.popup({"maxWidth": "100%", "minHeight": 100, "minWidth": 500});

        
            
                var i_frame_011166a0fc014cc978cafb6efb172489 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICA8dGFibGUgYm9yZGVyPSIxIiBjbGFzcz0iZGF0YWZyYW1lIj4KICA8dGhlYWQ+CiAgICA8dHIgc3R5bGU9InRleHQtYWxpZ246IHJpZ2h0OyI+CiAgICAgIDx0aD4wPC90aD4KICAgICAgPHRoPjE8L3RoPgogICAgPC90cj4KICA8L3RoZWFkPgogIDx0Ym9keT4KICAgIDx0cj4KICAgICAgPHRkPldhbnQgdG8gYm9vayBhIGhvdGVsIGF0IEdlcm1hbnk/IDxhIGhyZWY9Imh0dHBzOi8vd3d3LmJvb2tpbmcuY29tL3NlYXJjaHJlc3VsdHMuZW4tdXMuaHRtbD9zcz1HZXJtYW55IiB0YXJnZXQ9Il9ibGFuayI+R28gdG8gQm9va2luZy5jb20gZm9yIGEgcm9vbSEgPC9hPjwvdGQ+CiAgICAgIDx0ZD5HZXJtYW55PC90ZD4KICAgIDwvdHI+CiAgPC90Ym9keT4KPC90YWJsZT4=" width="400" style="border:none !important;" height="120"></iframe>`)[0];
                popup_7eaf3423641e854d9c4bdd781094e57a.setContent(i_frame_011166a0fc014cc978cafb6efb172489);
            
        

        marker_1cffdd1f4eae559de12dd6bb675c1307.bindPopup(popup_7eaf3423641e854d9c4bdd781094e57a)
        ;

        
    
    
            var marker_0800c595b5e8b354c3770871e95d2f83 = L.marker(
                [49.2214561, -2.1358386],
                {}
            ).addTo(map_a3d72b8a6dea01698087ba0cbdb189fc);
        
    
        var popup_f3f4ae5f0768a80a1edabfb6e916fd6a = L.popup({"maxWidth": "100%", "minHeight": 100, "minWidth": 500});

        
            
                var i_frame_a4e0563d51f9ab40781b829892d93cfd = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICA8dGFibGUgYm9yZGVyPSIxIiBjbGFzcz0iZGF0YWZyYW1lIj4KICA8dGhlYWQ+CiAgICA8dHIgc3R5bGU9InRleHQtYWxpZ246IHJpZ2h0OyI+CiAgICAgIDx0aD4wPC90aD4KICAgICAgPHRoPjE8L3RoPgogICAgPC90cj4KICA8L3RoZWFkPgogIDx0Ym9keT4KICAgIDx0cj4KICAgICAgPHRkPkplcnNleTwvdGQ+CiAgICAgIDx0ZD5XYW50IHRvIGJvb2sgYSBob3RlbCBhdCBKZXJzZXk/IDxhIGhyZWY9Imh0dHBzOi8vd3d3LmJvb2tpbmcuY29tL3NlYXJjaHJlc3VsdHMuZW4tdXMuaHRtbD9zcz1KZXJzZXkiIHRhcmdldD0iX2JsYW5rIj5HbyB0byBCb29raW5nLmNvbSBmb3IgYSByb29tISA8L2E+PC90ZD4KICAgIDwvdHI+CiAgPC90Ym9keT4KPC90YWJsZT4=" width="400" style="border:none !important;" height="120"></iframe>`)[0];
                popup_f3f4ae5f0768a80a1edabfb6e916fd6a.setContent(i_frame_a4e0563d51f9ab40781b829892d93cfd);
            
        

        marker_0800c595b5e8b354c3770871e95d2f83.bindPopup(popup_f3f4ae5f0768a80a1edabfb6e916fd6a)
        ;

        
    
    
            var marker_4e354b18a1354693359c9094cf585d3e = L.marker(
                [6.3110548, 20.5447525],
                {}
            ).addTo(map_a3d72b8a6dea01698087ba0cbdb189fc);
        
    
        var popup_293753979aed4708324a5c58b695cd92 = L.popup({"maxWidth": "100%", "minHeight": 100, "minWidth": 500});

        
            
                var i_frame_ead5c215b3522f01f81e6e448c9312a7 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICA8dGFibGUgYm9yZGVyPSIxIiBjbGFzcz0iZGF0YWZyYW1lIj4KICA8dGhlYWQ+CiAgICA8dHIgc3R5bGU9InRleHQtYWxpZ246IHJpZ2h0OyI+CiAgICAgIDx0aD4wPC90aD4KICAgICAgPHRoPjE8L3RoPgogICAgPC90cj4KICA8L3RoZWFkPgogIDx0Ym9keT4KICAgIDx0cj4KICAgICAgPHRkPldhbnQgdG8gYm9vayBhIGhvdGVsIGF0IFVLPyA8YSBocmVmPSJodHRwczovL3d3dy5ib29raW5nLmNvbS9zZWFyY2hyZXN1bHRzLmVuLXVzLmh0bWw/c3M9VUsiIHRhcmdldD0iX2JsYW5rIj5HbyB0byBCb29raW5nLmNvbSBmb3IgYSByb29tISA8L2E+PC90ZD4KICAgICAgPHRkPlVLPC90ZD4KICAgIDwvdHI+CiAgPC90Ym9keT4KPC90YWJsZT4=" width="400" style="border:none !important;" height="120"></iframe>`)[0];
                popup_293753979aed4708324a5c58b695cd92.setContent(i_frame_ead5c215b3522f01f81e6e448c9312a7);
            
        

        marker_4e354b18a1354693359c9094cf585d3e.bindPopup(popup_293753979aed4708324a5c58b695cd92)
        ;

        
    
    
            var marker_1cda0a8f5e5cc29bc8742bbb832fd676 = L.marker(
                [38.8950368, -77.0365427],
                {}
            ).addTo(map_a3d72b8a6dea01698087ba0cbdb189fc);
        
    
        var popup_d4f85d40befa15cce478c43d099a6074 = L.popup({"maxWidth": "100%", "minHeight": 100, "minWidth": 500});

        
            
                var i_frame_438dbb7f25f32f7a40479a0340adf863 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICA8dGFibGUgYm9yZGVyPSIxIiBjbGFzcz0iZGF0YWZyYW1lIj4KICA8dGhlYWQ+CiAgICA8dHIgc3R5bGU9InRleHQtYWxpZ246IHJpZ2h0OyI+CiAgICAgIDx0aD4wPC90aD4KICAgICAgPHRoPjE8L3RoPgogICAgPC90cj4KICA8L3RoZWFkPgogIDx0Ym9keT4KICAgIDx0cj4KICAgICAgPHRkPldhc2hpbmd0b24sIERDPC90ZD4KICAgICAgPHRkPldhbnQgdG8gYm9vayBhIGhvdGVsIGF0IFdhc2hpbmd0b24sIERDPyA8YSBocmVmPSJodHRwczovL3d3dy5ib29raW5nLmNvbS9zZWFyY2hyZXN1bHRzLmVuLXVzLmh0bWw/c3M9V2FzaGluZ3RvbiwrREMiIHRhcmdldD0iX2JsYW5rIj5HbyB0byBCb29raW5nLmNvbSBmb3IgYSByb29tISA8L2E+PC90ZD4KICAgIDwvdHI+CiAgPC90Ym9keT4KPC90YWJsZT4=" width="400" style="border:none !important;" height="120"></iframe>`)[0];
                popup_d4f85d40befa15cce478c43d099a6074.setContent(i_frame_438dbb7f25f32f7a40479a0340adf863);
            
        

        marker_1cda0a8f5e5cc29bc8742bbb832fd676.bindPopup(popup_d4f85d40befa15cce478c43d099a6074)
        ;

        
    
    
            var marker_6ef36ce5bd16043cc8495127cfe3c4c6 = L.marker(
                [48.584614, 7.7507127],
                {}
            ).addTo(map_a3d72b8a6dea01698087ba0cbdb189fc);
        
    
        var popup_a4f5453f9eefbaf9ba9ae413f35279d5 = L.popup({"maxWidth": "100%", "minHeight": 100, "minWidth": 500});

        
            
                var i_frame_033f5e1afff7700eebda2e3f3e94d97f = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICA8dGFibGUgYm9yZGVyPSIxIiBjbGFzcz0iZGF0YWZyYW1lIj4KICA8dGhlYWQ+CiAgICA8dHIgc3R5bGU9InRleHQtYWxpZ246IHJpZ2h0OyI+CiAgICAgIDx0aD4wPC90aD4KICAgICAgPHRoPjE8L3RoPgogICAgPC90cj4KICA8L3RoZWFkPgogIDx0Ym9keT4KICAgIDx0cj4KICAgICAgPHRkPlN0cmFzYm91cmc8L3RkPgogICAgICA8dGQ+V2FudCB0byBib29rIGEgaG90ZWwgYXQgU3RyYXNib3VyZz8gPGEgaHJlZj0iaHR0cHM6Ly93d3cuYm9va2luZy5jb20vc2VhcmNocmVzdWx0cy5lbi11cy5odG1sP3NzPVN0cmFzYm91cmciIHRhcmdldD0iX2JsYW5rIj5HbyB0byBCb29raW5nLmNvbSBmb3IgYSByb29tISA8L2E+PC90ZD4KICAgIDwvdHI+CiAgPC90Ym9keT4KPC90YWJsZT4=" width="400" style="border:none !important;" height="120"></iframe>`)[0];
                popup_a4f5453f9eefbaf9ba9ae413f35279d5.setContent(i_frame_033f5e1afff7700eebda2e3f3e94d97f);
            
        

        marker_6ef36ce5bd16043cc8495127cfe3c4c6.bindPopup(popup_a4f5453f9eefbaf9ba9ae413f35279d5)
        ;

        
    
    
            var marker_869a87340210dfe79b0f64cea702baf1 = L.marker(
                [50.709684949999996, 7.112681388653462],
                {}
            ).addTo(map_a3d72b8a6dea01698087ba0cbdb189fc);
        
    
        var popup_faaff8f6a88aeda30c2167b450ca0c22 = L.popup({"maxWidth": "100%", "minHeight": 100, "minWidth": 500});

        
            
                var i_frame_975046eb407e173f7950cd29fe63e2f2 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICA8dGFibGUgYm9yZGVyPSIxIiBjbGFzcz0iZGF0YWZyYW1lIj4KICA8dGhlYWQ+CiAgICA8dHIgc3R5bGU9InRleHQtYWxpZ246IHJpZ2h0OyI+CiAgICAgIDx0aD4wPC90aD4KICAgICAgPHRoPjE8L3RoPgogICAgPC90cj4KICA8L3RoZWFkPgogIDx0Ym9keT4KICAgIDx0cj4KICAgICAgPHRkPldhbnQgdG8gYm9vayBhIGhvdGVsIGF0IEhhcmlibz8gPGEgaHJlZj0iaHR0cHM6Ly93d3cuYm9va2luZy5jb20vc2VhcmNocmVzdWx0cy5lbi11cy5odG1sP3NzPUhhcmlibyIgdGFyZ2V0PSJfYmxhbmsiPkdvIHRvIEJvb2tpbmcuY29tIGZvciBhIHJvb20hIDwvYT48L3RkPgogICAgICA8dGQ+SGFyaWJvPC90ZD4KICAgIDwvdHI+CiAgPC90Ym9keT4KPC90YWJsZT4=" width="400" style="border:none !important;" height="120"></iframe>`)[0];
                popup_faaff8f6a88aeda30c2167b450ca0c22.setContent(i_frame_975046eb407e173f7950cd29fe63e2f2);
            
        

        marker_869a87340210dfe79b0f64cea702baf1.bindPopup(popup_faaff8f6a88aeda30c2167b450ca0c22)
        ;

        
    
    
            var marker_395605f4efdca359938dd9e183c346bc = L.marker(
                [48.71557405, 6.142460196100687],
                {}
            ).addTo(map_a3d72b8a6dea01698087ba0cbdb189fc);
        
    
        var popup_6701a9d569bb89f2550e9b2bb7589a18 = L.popup({"maxWidth": "100%", "minHeight": 100, "minWidth": 500});

        
            
                var i_frame_b06e9723ca5270fbdfdafe28f54f4fb1 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICA8dGFibGUgYm9yZGVyPSIxIiBjbGFzcz0iZGF0YWZyYW1lIj4KICA8dGhlYWQ+CiAgICA8dHIgc3R5bGU9InRleHQtYWxpZ246IHJpZ2h0OyI+CiAgICAgIDx0aD4wPC90aD4KICAgICAgPHRoPjE8L3RoPgogICAgPC90cj4KICA8L3RoZWFkPgogIDx0Ym9keT4KICAgIDx0cj4KICAgICAgPHRkPldhbnQgdG8gYm9vayBhIGhvdGVsIGF0IExvcnJhaW5lPyA8YSBocmVmPSJodHRwczovL3d3dy5ib29raW5nLmNvbS9zZWFyY2hyZXN1bHRzLmVuLXVzLmh0bWw/c3M9TG9ycmFpbmUiIHRhcmdldD0iX2JsYW5rIj5HbyB0byBCb29raW5nLmNvbSBmb3IgYSByb29tISA8L2E+PC90ZD4KICAgICAgPHRkPkxvcnJhaW5lPC90ZD4KICAgIDwvdHI+CiAgPC90Ym9keT4KPC90YWJsZT4=" width="400" style="border:none !important;" height="120"></iframe>`)[0];
                popup_6701a9d569bb89f2550e9b2bb7589a18.setContent(i_frame_b06e9723ca5270fbdfdafe28f54f4fb1);
            
        

        marker_395605f4efdca359938dd9e183c346bc.bindPopup(popup_6701a9d569bb89f2550e9b2bb7589a18)
        ;

        
    
    
            var marker_a3900b98307478f3c410f26caf27e0e9 = L.marker(
                [48.8534951, 2.3483915],
                {}
            ).addTo(map_a3d72b8a6dea01698087ba0cbdb189fc);
        
    
        var popup_ae5fdb2bf41cd22fa956599722d730be = L.popup({"maxWidth": "100%", "minHeight": 100, "minWidth": 500});

        
            
                var i_frame_367f8a5d14d811461df844c6743dc66e = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICA8dGFibGUgYm9yZGVyPSIxIiBjbGFzcz0iZGF0YWZyYW1lIj4KICA8dGhlYWQ+CiAgICA8dHIgc3R5bGU9InRleHQtYWxpZ246IHJpZ2h0OyI+CiAgICAgIDx0aD4wPC90aD4KICAgICAgPHRoPjE8L3RoPgogICAgPC90cj4KICA8L3RoZWFkPgogIDx0Ym9keT4KICAgIDx0cj4KICAgICAgPHRkPlBhcmlzPC90ZD4KICAgICAgPHRkPldhbnQgdG8gYm9vayBhIGhvdGVsIGF0IFBhcmlzPyA8YSBocmVmPSJodHRwczovL3d3dy5ib29raW5nLmNvbS9zZWFyY2hyZXN1bHRzLmVuLXVzLmh0bWw/c3M9UGFyaXMiIHRhcmdldD0iX2JsYW5rIj5HbyB0byBCb29raW5nLmNvbSBmb3IgYSByb29tISA8L2E+PC90ZD4KICAgIDwvdHI+CiAgPC90Ym9keT4KPC90YWJsZT4=" width="400" style="border:none !important;" height="120"></iframe>`)[0];
                popup_ae5fdb2bf41cd22fa956599722d730be.setContent(i_frame_367f8a5d14d811461df844c6743dc66e);
            
        

        marker_a3900b98307478f3c410f26caf27e0e9.bindPopup(popup_ae5fdb2bf41cd22fa956599722d730be)
        ;

        
    
    
            var marker_08290047f25f81f557495fe9b1e6e5db = L.marker(
                [14.3043227, 121.1207061],
                {}
            ).addTo(map_a3d72b8a6dea01698087ba0cbdb189fc);
        
    
        var popup_7620e9be77f06710cb4cb337b07682f6 = L.popup({"maxWidth": "100%", "minHeight": 100, "minWidth": 500});

        
            
                var i_frame_82af085a40595d9a8ae69b794fd780e9 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICA8dGFibGUgYm9yZGVyPSIxIiBjbGFzcz0iZGF0YWZyYW1lIj4KICA8dGhlYWQ+CiAgICA8dHIgc3R5bGU9InRleHQtYWxpZ246IHJpZ2h0OyI+CiAgICAgIDx0aD4wPC90aD4KICAgICAgPHRoPjE8L3RoPgogICAgPC90cj4KICA8L3RoZWFkPgogIDx0Ym9keT4KICAgIDx0cj4KICAgICAgPHRkPk5lYnVsYTwvdGQ+CiAgICAgIDx0ZD5XYW50IHRvIGJvb2sgYSBob3RlbCBhdCBOZWJ1bGE/IDxhIGhyZWY9Imh0dHBzOi8vd3d3LmJvb2tpbmcuY29tL3NlYXJjaHJlc3VsdHMuZW4tdXMuaHRtbD9zcz1OZWJ1bGEiIHRhcmdldD0iX2JsYW5rIj5HbyB0byBCb29raW5nLmNvbSBmb3IgYSByb29tISA8L2E+PC90ZD4KICAgIDwvdHI+CiAgPC90Ym9keT4KPC90YWJsZT4=" width="400" style="border:none !important;" height="120"></iframe>`)[0];
                popup_7620e9be77f06710cb4cb337b07682f6.setContent(i_frame_82af085a40595d9a8ae69b794fd780e9);
            
        

        marker_08290047f25f81f557495fe9b1e6e5db.bindPopup(popup_7620e9be77f06710cb4cb337b07682f6)
        ;

        
    
    
            var marker_1bef7b7fce62cb5af5725e6e174504ee = L.marker(
                [54.3151594, -1.9181532111487878],
                {}
            ).addTo(map_a3d72b8a6dea01698087ba0cbdb189fc);
        
    
        var popup_5fff83d83661e3bf37ecf6e2c07d7bbd = L.popup({"maxWidth": "100%", "minHeight": 100, "minWidth": 500});

        
            
                var i_frame_d2f477af83d7bb169b8d6f91221837b2 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICA8dGFibGUgYm9yZGVyPSIxIiBjbGFzcz0iZGF0YWZyYW1lIj4KICA8dGhlYWQ+CiAgICA8dHIgc3R5bGU9InRleHQtYWxpZ246IHJpZ2h0OyI+CiAgICAgIDx0aD4wPC90aD4KICAgICAgPHRoPjE8L3RoPgogICAgPC90cj4KICA8L3RoZWFkPgogIDx0Ym9keT4KICAgIDx0cj4KICAgICAgPHRkPldhbnQgdG8gYm9vayBhIGhvdGVsIGF0IEJyaXRhaW4/IDxhIGhyZWY9Imh0dHBzOi8vd3d3LmJvb2tpbmcuY29tL3NlYXJjaHJlc3VsdHMuZW4tdXMuaHRtbD9zcz1Ccml0YWluIiB0YXJnZXQ9Il9ibGFuayI+R28gdG8gQm9va2luZy5jb20gZm9yIGEgcm9vbSEgPC9hPjwvdGQ+CiAgICAgIDx0ZD5Ccml0YWluPC90ZD4KICAgIDwvdHI+CiAgPC90Ym9keT4KPC90YWJsZT4=" width="400" style="border:none !important;" height="120"></iframe>`)[0];
                popup_5fff83d83661e3bf37ecf6e2c07d7bbd.setContent(i_frame_d2f477af83d7bb169b8d6f91221837b2);
            
        

        marker_1bef7b7fce62cb5af5725e6e174504ee.bindPopup(popup_5fff83d83661e3bf37ecf6e2c07d7bbd)
        ;

        
    
</script>
</html>