<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="icon" href="/static/public/favicon.ico" />
    <link rel="stylesheet" href="/static/global.css" />
    <link rel="stylesheet" href="/static/shared.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open Sans:wght@400;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=DM Serif Display:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="shared">
      <div class="plan-shared">Plan Shared!</div>
    </div>
  </body>
</html>
